<link rel="stylesheet" href="{{ 'ext.css' | asset_url }}">

{% if product %}
  <div>
    <span class="app-badge" style="
        background-color:{{ block.settings.color }}; 
        border-radius:{{ block.settings.border_radius }}px; 
        font-size:{{ block.settings.font_size }}px;">
      Hot
    </span>
  </div>
{% endif %}

<script src="{{ 'ext.js' | asset_url }}" defer></script>
{% schema %}
  {
    "name": "Add Highlight",
    "target": "section",
    "settings": [
      {
        "type": "color",
        "id": "color",
        "label": "Background Color",
        "default": "#ff0000",
        "info": "Set the background color for badge."
      }, {
        "type": "number",
        "id": "border_radius",
        "label": "Border Radius",
        "default": 20,
        "info": "Set the border radius for elements with rounded corners. Unit will be px"
      }, {
        "type": "number",
        "id": "font_size",
        "label": "Font Size",
        "default": 20,
        "info": "Set the font size for elements. Unit will be px"
      }
    ]
  }
{% endschema %}
